# KUIS 2 Pembelajaran Mesin

- Nama  : Muh. Fauzi Ramadhan Nugraha
- NIM   : 2041720022
- Kelas : TI - 3B

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [50]:
import pandas as pd

df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

#### Jawab

##### Memperbaiki data Null

Sebelum melakukan pemilahan data, kita akan mengecek data yang terisi dan null dalam tabel dengan melakukan pengecekan jumlah data disetiap tabel.

In [51]:
df.isna().sum()

id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
keterlibatan_vltr      0
jml_vltr_terlibat      0
tahun                  0
skema                  0
luaran_hki             0
jenis_luaran_hki       0
potensi_hki            0
luaran_lain            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64

Dari data yang kita lihat, ada beberapa tabel yang berisi null atau NaN. Data Data yang berisikan null tersebut akan diisikan dengan 0.

In [52]:
df = df.fillna(0)
df.tail(10)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
75,8804.0,8003.0,8803.0,8005.0,9102.0,0.0,TIDAK,0,2022,REGULER,ADA,Hak Cipta,SUDAH,YA,Publikasi Media Massa,Terpublikasi
76,5911.0,9002.0,9101.0,8702.0,8807.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
77,8812.0,9003.0,8906.0,8701.0,0.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
78,8805.0,7308.0,569.0,9106.0,0.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
79,0.0,0.0,0.0,7607.0,0.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
80,8803.0,8804.0,9102.0,8005.0,9303.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,0.0,0.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,0.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,0.0,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

Setelah melakukan fill data Na, cek kembali kondisi kekosongan data

In [53]:
df.isna().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
id_anggota5           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

##### Memberikan Label pada data yang membutuhkan label dengan menggunakan LabelEncoder

In [54]:
# Menggunakan LabelEncoder untuk mengkonversi nilai posisi menjadi urutan 
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

df['keterlibatan_vltr'] = label.fit_transform(df['keterlibatan_vltr'])

df['skema'] = label.fit_transform(df['skema'])

df['luaran_hki'] = label.fit_transform(df['luaran_hki'])

df['jenis_luaran_hki'] = label.fit_transform(df['jenis_luaran_hki'])

df['potensi_hki'] = label.fit_transform(df['potensi_hki'])

df['luaran_lain'] = label.fit_transform(df['luaran_lain'])

df['jenis_luaran_lain'] = label.fit_transform(df['jenis_luaran_lain'])

df['status_luaran_lain'] = label.fit_transform(df['status_luaran_lain'])

df.head(10)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,0,0,2019,1,1,1,2,0,3,1
5,8008.0,7607.0,7903.0,7702.0,8905.0,0.0,0,0,2019,1,1,1,2,0,3,1
6,8402.0,8803.0,9102.0,8804.0,8005.0,0.0,0,0,2019,1,1,1,2,0,3,1
7,8101.0,7702.0,7308.0,8602.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
8,0.0,8805.0,8807.0,8803.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
9,8805.0,7206.0,7903.0,7702.0,9002.0,0.0,0,0,2019,1,1,1,2,0,3,1

##### Melakukan Seleksi Fitur

In [55]:
X = df.iloc[:, 7:]
y = df['keterlibatan_vltr']

print(X.shape)
X

(85, 9)

,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,0,2019,1,1,1,2,0,3,1
1,0,2019,1,1,1,2,0,3,1
2,0,2019,1,1,1,2,0,3,1
3,0,2019,1,1,1,2,0,3,1
4,0,2019,1,1,1,2,0,3,1
...,...,...,...,...,...,...,...,...,...
80,3,2022,1,1,1,2,0,3,1
81,3,2022,1,1,1,2,0,3,1
82,3,2022,1,1,1,2,0,3,1
83,3,2022,1,1,1,2,0,3,1
84,0,2022,1,1,1,2,0,3,1

##### Menentukan Split Data training dan testing, kedalam data yang akan di test dan data validasi

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=14)

X_val, X_unseen, y_val, y_unseen = train_test_split(X_test, y_test, test_size=0.8, random_state=20)

##### Test Akurasi dengan menggunakan metode Klasifikasi Decision Tree

In [57]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Sesuaikan dt ke set training
dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

# Memprediksi label set test
y_pred_dt = dt.predict(X_test)

# Menghitung set accuracy
acc_dt = accuracy_score(y_test, y_pred_dt)
print(f"Test set accuracy: {acc_dt}")

Test set accuracy: 0.95

##### Test Akurasi dengan menggunakan metode Klasifikasi Random Forest

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier(n_estimators=30, random_state=12)

rf.fit(X_train, y_train)

y_pred_rf = rf.predict(X_test)

# Menghitung set accuracy
acc_rf = accuracy_score(y_test, y_pred_rf)
print(f"Test set accuracy: {acc_rf}")

Test set accuracy: 0.95

##### Tunning Hyperparameter dengan Grid Search dan Random Search

In [59]:
from sklearn.model_selection import RepeatedKFold

# inisiasi repated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

- Decision Tree

In [60]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# inisiasi model
dt = DecisionTreeClassifier()

# Definisikan hyperparameter yang akan digunakan
# sklearn menerima dalam bentuk dictionary
# nama hyperparamater HARUS SESUAI dengan dokumentasi sklearn
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11))
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(dt, param_grid=params, cv=cv)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit grid.fit(X, y)

# Evaluasi dengan score
score = grid.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

608 ms Â± 33 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'criterion': 'gini', 'max_depth': 5}

In [61]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier

# inisiasi model
dt = DecisionTreeClassifier()

# Definisikan hyperparameter yang akan digunakan
# sklearn menerima dalam bentuk dictionary
# nama hyperparamater HARUS SESUAI dengan dokumentasi sklearn
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11))
}

clf = RandomizedSearchCV(dt, param_distributions=params, cv=cv)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit clf.fit(X, y)

# Evaluasi dengan score
score = clf.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {clf.best_params_}')

322 ms Â± 6.24 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter: {'max_depth': 8, 'criterion': 'gini'}

- Random Forest

In [62]:
from sklearn.ensemble import RandomForestClassifier

# inisiasi model
rf = RandomForestClassifier()

# Definisikan hyperparameter yang akan digunakan
# sklearn menerima dalam bentuk dictionary
# nama hyperparamater HARUS SESUAI dengan dokumentasi sklearn
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11)),
    'n_estimators': [5,10,20,50],
    'min_samples_split': [4, 8, 15],
    'min_samples_leaf': [1, 2, 3],
    'bootstrap': [True, False]
}

# inisiasi grid berdasarkan nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(rf, param_grid=params, cv=cv)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit grid.fit(X, y)

# Evaluasi dengan score
score = grid.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {grid.best_params_}')

4min 45s Â± 5.97 s per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 0.9882352941176471
Konfigurasi hyperparameter: {'bootstrap': True, 'criterion': 'gini', 'max_depth': 5, 'min_samples_leaf': 3, 'min_samples_split': 4, 'n_estimators': 50}

In [63]:
from sklearn.ensemble import RandomForestClassifier

# inisiasi model
rf = RandomForestClassifier()

# Definisikan hyperparameter yang akan digunakan
# sklearn menerima dalam bentuk dictionary
# nama hyperparamater HARUS SESUAI dengan dokumentasi sklearn
params = {
    'criterion': ['gini', 'entropy', 'log_loss'],
    'max_depth': list(range(5,11)),
    'n_estimators': [5,10,20,50],
    'min_samples_split': [4, 8, 15],
    'min_samples_leaf': [1, 2, 3],
    'bootstrap': [True, False]
}

clf = RandomizedSearchCV(rf, param_distributions=params, cv=cv)

# Fit / latih berdasarkan grid
# %timeit merupakan magic command didalam ipython notebook
# yang dapat kita gunakan untuk menghitung waktu komputasi
# cara ini cukup efektif untuk melakukan evaluasi suatu algoritma atau prosedur
%timeit clf.fit(X, y)

# Evaluasi dengan score
score = clf.score(X,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter: {clf.best_params_}')

2.05 s Â± 616 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 0.9882352941176471
Konfigurasi hyperparameter: {'n_estimators': 50, 'min_samples_split': 15, 'min_samples_leaf': 3, 'max_depth': 10, 'criterion': 'entropy', 'bootstrap': False}